force-app/main/default/flows/Fulfill_Invoice_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_ID_to_Collection</name>
        <label>Add ID to Collection</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>InvoiceIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IDs_from_Invoices.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IDs_from_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Enrollment_to_Line_Item</name>
        <label>Set New Enrollment to Line Item</label>
        <locationX>308</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Lookup_Invoice_Line_Item.Canvas_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Found_Line_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_a_Line_Item</name>
        <label>Is there a Line Item</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Set_New_Enrollment_to_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Line Item Exists</defaultConnectorLabel>
        <rules>
            <name>Bail_on_Empty_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Invoice_Line_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bail on Empty Line Item</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fulfill Invoice Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfill Invoice Line Item</label>
    <loops>
        <name>Get_IDs_from_Invoices</name>
        <label>Get IDs from Invoices</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Lookup_Valid_Invoice_Candidates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_Invoice_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Invoice_Line_Item</name>
        <label>Lookup Invoice Line Item</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Fulfilled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Noncredit_Invoice__c</field>
            <operator>In</operator>
            <value>
                <elementReference>InvoiceIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.lms_hed__Course_Offering__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Noncredit_Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Valid_Invoice_Candidates</name>
        <label>Lookup Valid Invoice Candidates</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IDs_from_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.lms_hed__LMS_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Completely_Fulfilled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Paid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Noncredit_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Found_Line_Item</name>
        <label>Update Found Line Item</label>
        <locationX>308</locationX>
        <locationY>1151</locationY>
        <inputReference>Lookup_Invoice_Line_Item</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Valid_Invoice_Candidates</targetReference>
        </connector>
        <object>lms_hed__LMS_Course_Enrollment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
