force-app/main/default/flows/Handle_Section_Confirmation_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Perform_ID_Add</name>
        <label>Perform ID Add</label>
        <locationX>264</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>InvoiceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Invoice_IDs_to_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice_IDs_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Handle Section Confirmation Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Section Confirmation Event</label>
    <loops>
        <name>Add_Invoice_IDs_to_Collection</name>
        <label>Add Invoice IDs to Collection</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <collectionReference>Lookup_Invoice_Candidates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Perform_ID_Add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_Noncredit_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Invoice_Candidates</name>
        <label>Lookup Invoice Candidates</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Invoice_IDs_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Noncredit_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.csuoee__User_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Noncredit_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Noncredit_Line_Item</name>
        <label>Lookup Noncredit Line Item</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Confirmed_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Section_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.csuoee__Section_Reference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Noncredit_Invoice__c</field>
            <operator>In</operator>
            <value>
                <elementReference>InvoiceIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Noncredit_Invoice_Line_Item__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Confirmed_Line_Item</name>
        <label>Update Confirmed Line Item</label>
        <locationX>176</locationX>
        <locationY>770</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Noncredit_Line_Item.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Noncredit_Invoice_Line_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Invoice_Candidates</targetReference>
        </connector>
        <object>csuoee__Confirmation_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
