force-app/main/default/flows/Handle_Payment_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_This_A_Credit_Transfer</name>
        <label>Is This A Credit Transfer?</label>
        <locationX>182</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Lookup_Related_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Debit</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credit_Payment</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
    </decisions>
    <description>Handles incoming transactions for payment transfer.</description>
    <environments>Default</environments>
    <formulas>
        <description>Makes sure a debit amount is negative.</description>
        <name>MakeDebitNegative</name>
        <dataType>Number</dataType>
        <expression>-1*ABS({!$Record.Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Handle Payment Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Payment Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Payment</name>
        <label>Create Credit Payment</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSU_Trans_Id__c</field>
            <value>
                <elementReference>$Record.TransId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Credit Transfer (Sponsor)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Noncredit_Invoice__c</field>
            <value>
                <elementReference>Lookup_Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Successful__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Noncredit_Invoice_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Transfer_Line_Item</name>
        <label>Create Transfer Line Item</label>
        <locationX>314</locationX>
        <locationY>554</locationY>
        <inputAssignments>
            <field>Debit_Trans_Id__c</field>
            <value>
                <elementReference>$Record.TransId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Item_Amount__c</field>
            <value>
                <elementReference>MakeDebitNegative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Noncredit_Invoice__c</field>
            <value>
                <elementReference>Lookup_Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Section_Reference__c</field>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sponsor_Payment_Invoice__c</field>
            <value>
                <elementReference>Lookup_Related_Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Noncredit_Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Invoice</name>
        <label>Lookup Invoice</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_This_A_Credit_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Noncredit_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Related_Invoice</name>
        <label>Lookup Related Invoice</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transfer_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Noncredit_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Invoice</targetReference>
        </connector>
        <object>Noncredit_Invoice_Payment_Transfer__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
