force-app/main/default/flows/Validate_No_Duplicate_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>DuplicateErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This Payment has been marked unsuccessful - this CSU Trans Id is a duplicate of a previously entered Transaction Id.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Payment_Already_Exists</name>
        <label>Payment Already Exists</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Is Unique</defaultConnectorLabel>
        <rules>
            <name>IsDuplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Payment_Exists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Payment_Unsuccesful</targetReference>
            </connector>
            <label>IsDuplicate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Validate No Duplicate Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate No Duplicate Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Payment_Exists</name>
        <label>Check Payment Exists</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Noncredit_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Noncredit_Invoice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CSU_Trans_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CSU_Trans_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Successful__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Noncredit_Invoice_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Payment_Unsuccesful</name>
        <label>Mark Payment Unsuccesful</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Failure_Reason__c</field>
            <value>
                <elementReference>DuplicateErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Successful__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Payment_Exists</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Successful__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CSU_Trans_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Noncredit_Invoice_Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
